/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* header-section style */


.top-banner{
    display: flex;
    margin:0 auto;
    margin-bottom: 130px;
    margin-top:50px;
    background-color: rgb(29, 28, 28);
    border-radius: 30px;
}
.half-width1{
    width:531px;
    height:424px;
    padding-top:50px;
    padding-left: 106px;
    margin-right: 24px;
   
}
.half-width2{
    width:50%;
    margin-top:33px;
}
.header-title{
    line-height: 80px;
}
.link-button{
    width:187px;
    height:57px;
    font-size: 20px;
    font-weight: 400;
    color:white;
    border: none;
    background-color: #DD0000;
    border-radius: 5px;
}


.header-title{
    color: white;
    font-size: 70px;
    font-weight: 700px;
}
.header-info{
    font-size: 16px;
    font-weight: 400;
    color:white;
    margin-bottom: 30px;
    line-height: 26px;
    margin-top:20px;
}
.top-banner .half-width2 img{
    width:581px;
    height:613px;
 
}

/* section style */
.container{
    width:100%;
}

.card-players{
    display: flex;
    margin:0 auto;
    margin-bottom: 200px;
    width:1321px;
    height:1000px

}
.aside-button{
    width:312px;
    height:312px;
    margin-right: 24px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}
.aside-btn{
    width:252px;
    height:64px;
    margin: 20px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#asid-color-btn{
    background-color:blue;
    color:white;
}

#asid-color-btn a{
    color:white;

}
.aside-btn a{
    text-decoration: none;
    font-size: 22px;
    font-weight:700;
    color:rgb(53, 51, 51);
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:24px;
    grid-row-gap:24px;

}


.player-info{
    width:312px;
    height:362px;
    border: 1px solid gray;
    border-radius: 10px;
}

.transfer-btn{
    width:100px;
    height:32px;
    font-size: 16px;
    margin-top:20px;
    margin-left: 15px;
    border-radius:5px;
    background-color: white;
    border: 2px solid  #302f2f;;
}
.blog-info{
    padding-left: 15px;
    font-size: 18px;
    color:rgb(51, 47, 47);
}
span{
    margin-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 100;
    color: rgb(51, 49, 49);
}

.footer{
    width:1600px;
    height:444px;
    margin:0 auto;
    text-align: center;
    background-color: black;
}
.footer-title{
    padding-top:130px;
    color:white;
    font-size: 40px;
   

}
hr{
    width:1320px;
    margin-top:50px;
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer-manu a{
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9;
    margin-right: 40px;
    
}
.footer-icon{
    margin:50px 30px 0px 20px;
    font-size: 25px;
    color:white;
}


/* Media query used  */

@media only screen and (max-width:768px) {
    .top-banner{
        width:100%;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        
    }
        .header-title{
            width:100%;
            font-size:40px;
            line-height: 50px;
            text-align: center;
            margin-left:-160px;
        }          
        .header-info{
            width:100%;
            font-size:13px;
            width:420px;
            text-align:center;
            margin-left: -110px;
        }  
        .link-button{
            width:200px;
            height:50px;
            font-size: 20px;
            margin-left: 10px;
        }        
        .half-width2{
            margin-top:-20px;
        }
       .top-banner .half-width2 img{
            width:450px;
            height:450px;
            margin-left: 20px;
           
       }
        .aside-button{
            width:300px;
            height:176px;
            margin-top:-90px;
            display: flex;
            margin-left:60px;
            background-color: white;
            margin-bottom: 40px;
            grid-template-rows: repeat(1, 1fr);
            flex-direction:column;
        }
        .aside-btn{
            border:1px solid gray;
           padding:10px 5px;
           margin-top:0px;
        }
        .card-players{
            width:100%;
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
        }
        .players{
            width:100%;
            margin-left: 60px;
            grid-template-columns: repeat(1, 1fr);
        }
        .footer{
            overflow: hidden;
        }
        
}
